.rect-info-tip-wrap {
  position: relative;

  li {
    line-height: 1.5;
  }
  .label-text {
    cursor: pointer;
  }

  select {
    background-color: black;
    height: 20px;
  }

  .label-form {
    width: 80px;
  }

  .label-value {
    cursor: pointer;
  }

  .label-delete {
    margin-top: 5px;
    color: red;
    cursor: pointer;
  }

  .close-tip{
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
  }
}