{
  "presets": [
    "next/babel",
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      },
      "antd"
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "lodash"
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true
          }
        ],
        [
          "module-resolver",
          {
            "root": [
              "./"
            ],
            "alias": {
              "~": "./src",
              "@": "./src/client",
              "static": "./static"
            }
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ],
        "@zeit/next-typescript/babel"
      ]
    }
  }
}