.main-canvas {
  position: absolute;
  cursor: crosshair;
}

.magn-region {
  border: 1px solid @border-color;
}

.rect-pt {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  color: red;
}