.tag-images-wrap {

  .tag-images-div {
    .flex-align();
    justify-content: space-between;

    .image-id-input {
      width: 50px;
      text-align: right;
    }
  }
  
  
  .tag-images-list {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;

    .file-tag-wrap {
      .flex-align();
      justify-content: space-between;

      .image-id-name {
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      
    }

    .err-label-img-id {
      margin-top: 10px;
      color: red;
      border: 1px solid red;
    }
  }
}